<%highlighted_class = highlighted ? 'highlighted_flyer' : ''%>
<div data-id="hud_<%=flyer.id%>" class='straight_flyer' id="flyer_<%=flyer.id%>" >
	 		<a href='<%=flyer_path(flyer)%>'><img border=0 src='<%=flyer.image.url(:medium)%>'  width='100%' ></a>
</div>
