		        <%if current_user-%>
                <span class='dheader_menu_item'>
                  logged in as <%=current_user.email%>
                  <%if current_user.admin?-%>
                    (admin)
                    <%= link_to('logout', destroy_user_session_path, method: :delete) %>        
                    
                  <%end%>
		           </span>
	           <%else%>
<%=link_to "not logged in", new_user_session_path%>
               <%end%>

<%
#	@tags=params[:tags] 
	@tags=nil if @tags=='all'

	@order=params[:order] || @controller.get_cookie(:order)
	@start = (params[:start]||0).to_i
	@page_size=@controller.page_size
	@num = (params[:num]||@page_size).to_i
    
	@order = "created" if not @order
	@controller.set_cookie(:order,@order)
	order_hash=
	{
  	  "score"=>"score desc,created_at desc",
	  "created"=>"created_at desc",
	  "popular"=>"created_at desc",
	  "date"=>"start_date desc"
	}
	_order = order_hash[@order]

	options = {
	          :show_flagged=>params[:show_flagged]
	          }
	params = {
	          :order=>_order,
	          :tags=>@tags,
			  :num=>@num
	         }

	@flyers = Flyer.all_flyers(params,options)
%>
<%total_flyers = Flyer.count_future_flyers(@metro_code)%>
<%if total_flyers==0%>
	<%#=render(:partial=>'shared/flyers_scarcity')%>
	<%@hide_footer=true%>
<%end%>
	<%#=render(:partial=>'shared/flyer_control')%>
	<%=render(:partial=>"shared/flyers",:locals=>{:total_flyers=>total_flyers})%>

