<div >
<%
	@tags=params[:tags] 
	@tags=nil if @tags=='all'

	@order=params[:order] || @controller.get_cookie(:order)
	@start = (params[:start]||0).to_i
	@page_size=@controller.page_size
	@num = (params[:num]||@page_size).to_i
    
	@order = "top" if not @order
	@controller.set_cookie(:order,@order)
	order_hash=
	{
  	"score"=>"score desc,created_at desc",
	  "created"=>"created_at desc",
	  "popular"=>"created_at desc",
	  "date"=>"start_date desc",
	  "top"=>"score desc,created_at desc"
	}
	_order = order_hash[@order]

	options = {
	          :show_flagged=>params[:show_flagged]
	          }
	params = {
	          :order=>_order,
	          :tags=>@tags,
			  :num=>@num
	         }

	@flyers = Flyer.all_flyers(params,options)
%>
	<%@flyers.each{|flyer|%>  		        
    <%highlighted = "#{flyer.id}"==@highlighted_flyer_id%>
    <%=render(:partial=>'shared/straight_flyer',:locals=>{:flyer=>flyer,:highlighted=>highlighted})%>
	<%}%>
</div>

<script>
  function animateNewFlyerIn() {
    $( ".highlighted_flyer" ).animate({
      opacity: 1,
    }, 1000)
  }
  
  function setupHuds() {
    $('.flyer').on({
        'mouseenter':function(){
            console.log("mouseenter"+$(this).data('id'))
            $('#'+$(this).data('id')).show();
        },'mouseleave':function(){
            console.log("mouseleave")
            $('#'+$(this).data('id')).hide();
        }
    });  
  }

  $( document ).ready(function() {
    animateNewFlyerIn();
    setupHuds();
  });
</script>